*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Didact Gothic", sans-serif;
}

.order-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../image_proj/bg-all.jpg') fixed ;
    background-size: cover;
    background-position: center;
}

.table_title{
    margin-left: 50px;
    margin-top: 20px;
    font-family: Cookie;
    font-size: 50px;
    font-weight: 900;
    text-align:center;
}

.table_head{
    font-weight: 900;
    font-size: 24px;

}

.table_desc{
    font-weight: 600;
    font-size: 18px;

}
